<style type="text/css">
svg { overflow: visible; }
p { line-height: 125%; }
li { line-height: 125%; }
button { font-size: 12pt; }
td { font-size: 10pt; align: left; text-align: left; border: 1px solid lightgray; padding: 5px; }
th { font-size: 10pt; font-weight: normal; border: 1px solid lightgray; padding: 10px; background-color: lavender; text-align: left }
tr { padding: 4px; }
table { border-collapse:collapse;}
</style>